.footer{
    position: relative;
    /* bottom: 3.25rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;
    background-color: rgb(3, 78, 65);
    min-height: 20rem;
    color: white;
    column-gap: 7rem; */
    font-size: 1.2rem;
}

.promotion .intro{
    font-size: 3rem;
    font-weight: bold;
}

.promotion{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 2rem;
}

.promotion .subtext{
    font-size: 1.35rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.promotion .email{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.promotion input{
    display: inline;
    max-width: 25rem;
    color: black;
}

.promotion .send-email{
    background-color: green;
    text-align: center;
    border-radius: 10px;
    padding: .1rem 1rem;
}

.promotion #tickbox{
    width: 13px;
}

.contacts{
    padding: 3rem 0;
    width: fit-content;
}

.contacts .item{
    margin: 0.4rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
}

.contacts .item a{
    text-decoration: underline;
    width: fit-content;
}

.copyright{
    position: absolute;
    bottom: -3.25rem;
    background-color: rgb(1, 49, 41);
    color: rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    width: 100%;
    height: 3.25rem;
}

@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "promotion"
            "contacts";
        height: auto;
    }

    .promotion {
        padding-left: 5;
    }
}